<mat-card class="mat-elevation-z0 product-card">
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutAlign=" center">
                <div class="product-image">
                    <img [src]="product.image" alt="">
                </div>
            </div>
            <div fxLayout="column" class="product-details" fxLayoutAlign="start start">
                <div class="product-description">
                    {{getDescription(product.name)}}
                </div>
                <div class="product-price">
                    R {{product.price}}
                </div>
                <div class="product-rating" fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon left class="mat-icon">
                        start
                    </mat-icon>
                    <span> {{product.rating}}</span>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>