.success-icon {
  color: green;
}
.success-icon svg {
  fill: green;
}
.info-icon {
  color: aliceblue;
}
.info-icon svg {
  fill: aliceblue;
}
.error-icon {
  color: red;
}
.error-icon svg {
  fill: red;
}
.warning-icon {
  color: orange;
}
.warning-icon svg {
  fill: orange;
}
