.container {
  background: lightyellow;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 4%;
}

.cards-display {
  justify-content: space-around;
  width: 100%;
}


.text {
  font-size: 100%;
  color: #212121;
  outline: 0;
  font-weight:normal
}
.text:hover {
  color: #0b79bf;
  text-decoration: underline;
}

.footer-text {
  font-size: 80%;
  color: #212121;
  outline: 0;
  font-weight:normal
}

.footer-text:hover {
  color: #000000;
  text-decoration: underline;
}

.footer-inline {
  display: inline;
  font-size: 100%;
  color: blue;
  outline: 0;
  font-weight:normal;
  text-decoration: none;
}

.footer-inline:hover {
  color: #000000;
  text-decoration: underline;
}
