<div class="site-container">
    <div fxLayout="row" fxLayoutAlign="space-between start" class="footer">
        <div fxHide.md fxHide.sm fxHide.xs class="footer-links" fxFlex="25%" *ngFor="let item of footerItems">
            <h3>{{item.heading}}</h3>
            <li *ngFor="let listing of item.listings">
                <a [href]="listing.link"> {{listing.name}}</a>
            </li>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex.gt-md="25%" fxFlex="100%"
            fxLayout.sm="column" fxLayoutAlign.sm="center center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
            <div fxLayout.sm="column" fxLayoutAlign.sm="center center" fxLayout.xs="column"
                fxLayoutAlign.xs="center center">
                <h3>Download Our Apps</h3>
                <a href="#">
                    <img width="125" height="40" class="ImageButton" src="../../../assets/Images/AppStoreBtn.png"
                        alt="">
                </a>
                <a href="#">
                    <img width="135" height="40" class="ImageButton" src="../../../assets/Images/googlePlayBtn.png"
                        alt="">
                </a>
            </div>
            <div>
                <div fxLayout.sm="column" fxLayoutAlign.xs="center center" fxLayout.xs="column"
                    fxLayoutAlign.sx="center center">
                    <div style="padding-right:10px">
                        <h3>Follow Us</h3>
                        <a href="#">
                            <mat-icon color="primary">
                                facebook
                            </mat-icon>
                        </a>
                        <a href="#">
                            <mat-icon color="primary">
                                facebook
                            </mat-icon>
                        </a>
                        <a href="#">
                            <mat-icon color="primary">
                                facebook
                            </mat-icon>
                        </a>
                    </div>
                    <div fxLayout.sm="column" fxLayoutAlign.sm="center center" fxLayout.xs="column"
                        fxLayoutAlign.xs="center center">
                        <h3>Takelot.group</h3>
                        <a href="#">Superbalist.com</a><br>
                        <a href="#">Mr D Food</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <ul class="breadcrumb">
        <li *ngFor="let category of categories"><a href="#">{{category}}</a></li>
    </ul>
</div>
<div class="bottom-footer">
    <div class="site-container">

    </div>
</div>