<div class="index-container">
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start start" class="site-container">
      <div fxShow fxHide.lt-lg class="side-bar">
      </div>
      <div fxFlex="100%">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="100%" fxFlex.lt-xs="79%">
            <div fxLayout="column" fxLayoutAlign="start stretch">
              <div class="banner">
                <app-banner-carousel [bannerSlide]="bannerSlide"></app-banner-carousel>
              </div>
              <div class="lower-banner">
                <app-infinite-carousel [slideItem]="slideItem"></app-infinite-carousel>
              </div>
            </div>
          </div>
          <div fxShow fxHide.lt-lg class="right-sidebar">
            <div style=" height: 20%;">
            </div>
            <div class="right-sidebar" fxLayout="column" fxLayoutAlign=" end">
              <app-promotion-card></app-promotion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="items-container">
      <div class="site-container">
        <div fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="100%" fxFlex.lt-xs="79%">
            <div class="category">
              <h2>Baby line</h2>
              <app-items-slider></app-items-slider>
            </div>
          </div>
          <div fxShow fxHide.lt-lg>
            <div class="right-sidebar" fxLayout="column" fxLayoutAlign=" end">
              <app-promotion-card></app-promotion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h3>Automotive Products</h3>
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <product fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products"
  >
      <mat-card class="mat-elevation-z4">
        <img mat-card-image 
        [src]="product.image"
        [title]="product.name" 
        [style.width.px]="imageWidth"
        [style.width.px]="imageLength"               
        >
        <mat-card-content>
            <p>{{product.price | currency:'R'}}</p>
            <div class="product-rating" fxLayout="row" fxLayoutAlign="start">
              <mat-icon left class="mat-icon">
                  star
              </mat-icon>
              <div> {{product.rating}}</div>
            </div>
            <div>Description</div> 
            <div>{{product.description}}</div>
            <button type="button" class="btn btn-sm" [ngClass]="this.isAdded[i] ? 'btn-success' : 'btn-outline-secondary'" 
            (click)="addToCart($event, product.id)">Add To Cart</button>
          </mat-card-content>
      </mat-card>
    </product>
  </div>  
  
  