.index-container {
  margin-top: 20px;
}
.banner {
  height: 280px;
}
.lower-banner {
  height: 150px;
}
.items-container {
  background-color: #f4f4f4;
  height: 400px;
  margin-top: 20px;
}
.category {
  height: 300px;
  margin-top: 20px;
}
.side-bar {
  position: relative;
  width: 240px;
  margin-right: 20px;
}
h2 {
  margin-bottom: 20px;
  color: #4d4d4f;
}
