
<!-- <a [routerLink]="[ '/path', routeParam ]"> -->

  <!-- <app-root></app-root> -->

  <div class="content"
   fxLayout="row wrap"
    fxLayoutGap="16px grid"
    *ngFor="let auto of products"
  >
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{sectionTitle}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image
        [src]="product.image"
        [title]="product.name" >
        <mat-card-content>
          <p><i class="far fa-star"></i></p>
          <p>
            {{product.description  | ShortenText: '...'}}
            <p>{{product.price | currency:'R'}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button color="accent">Accent</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


  




<!-- </a> -->
