.container {
  padding: 0 5px;
}

div.flex-spacer {
  flex: 1 1 auto;
}

body {
  margin-right: 10%;
}

.verticalLine {

}

.text {
  font-size: 75%;
  color: #212121;
  outline: 0;
  font-weight:normal
}
.text:hover {
  color: #0b79bf;
}

.inText {
  font-size: 100%;
  color: #212121;
  outline: 0;
  font-weight:normal
}


.inText:hover {
  color: #0b79bf;
}

