
<form class="flex-space" >
  <mat-form-field appearance="outline" color="primary-background">
    <input type="text"
           placeholder="Search for products, brands..."
           matInput
           [formControl]="control">
    <button mat-raised-button type="submit" style="background-color: #4d4d4f; width: border-box; box-shadow: " matSuffix mat-icon-button  (click)="value=''">
    <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>


<!--

<div class="flex-space">
  <input type="text"
         placeholder="Search for a street"
         [formControl]="control"
         placeholder="Search for products, brands...">
</div>

-->
