.flex-space {
  min-width: 80%;
  max-width: 80%;
  // width: 50%;
  // height: 0px;

  // flex: 1 1 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  // color: white;
  // background-color: white;
}


::ng-deep .mat-form-field {
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: white;
  }do apt-get update
  .mat-form-field-underline {
    background-color: white;
  }
  .mat-form-field-ripple {
    background-color: white;
  }
  .mat-form-field-required-marker {
    color: white;
  }
}


// mat-input carent color
::ng-deep .mat-input-element {
  caret-color: red!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white!important;
  // background-color: white;
  border-radius: 5px;
  // opacity: 1!important;
}

mat-form-field {
  width: 158%;
  padding-right: 0px;
  height: 0%;
}
