<form class="search-form">
  <div>
    <div fxLayout="row" fxLayoutAlign=" stretch">
      <div fxFlex="80%">
        <input class="input-search" type="text">
      </div>
      <div fxFlex="15%">
        <select name="" id="">
          <option [value]="department.name" *ngFor="let department of departments">{{department}}</option>
        </select>
      </div>
      <div fxFlex="5%">
        <button mat-flat-button color="primary">
          <mat-icon>
            search
          </mat-icon>
        </button>
      </div>
    </div>
    <div>
    </div>
  </div>
</form>