<!-- <div class="background-main">
    <div class="login" fxLayout="column" fxLayoutAlign="space-even center">
        <mat-card class="login-card">
            <mat-card class="login-inner-card">
                <mat-card-title>login</mat-card-title>
                <mat-card-content>
                    <form>
                        <div class="login-heading" fxLayout="column" fxLayoutAlign="space-even stretch">
                            <mat-form-field appearance="outline">
                                <mat-label>Email Address</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                            <mat-label class="label-pass"> <a href="">forgot password?</a> </mat-label>
                            <mat-form-field appearance="outline" type="password">
                                <mat-label>Password</mat-label>
                                <input matInput type="password">
                            </mat-form-field>
                            <div fxLayout="column" fxLayoutAlign=" center">
                                <button mat-flat-button color="primary">
                                    <mat-icon left>
                                        lock
                                    </mat-icon>
                                    sign in
                                </button>
                                <mat-label class="label-new-account">new to takealot <a
                                        routerLink="/account/register">create
                                        account</a>
                                </mat-label>
                            </div>

                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

        </mat-card>
    </div>
</div> -->

<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && username.invalid"
          >
            Username is required!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  </div>
  