mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
.login {
  height: 100vh;
}
.login-card {
  margin-top: 50px;
  height: 350px;
  width: 550px;
}
.login-inner-card {
  padding: 30px;
}
.login-heading {
  margin-top: 20px;
}
.label-pass {
  display: flex;
  justify-content: flex-end;
  :hover {
    text-decoration: underline;
  }
}
.label-new-account {
  margin-top: 20px;
  :hover {
    text-decoration: underline;
  }
}
a {
  text-decoration: none;
}
