<div fxLayout="row" class="slide-container" #container>
    <div fxLayout="row" class="slider" #slider>
        <section (click)="getProduct(index)" routerLink="product/{{index}}"
            *ngFor=" let product of productSForSlider; let index=index" class="">
            <div class="item">
                <app-product-small-card [product]="product"></app-product-small-card>
            </div>
        </section>
    </div>

    <button mat-button class="btn-prev" (click)="prev(slider)">
        <mat-icon>
            keyboard_arrow_left
        </mat-icon>
    </button>
    <button mat-button class="btn-next" (click)="next(slider)">
        <mat-icon>
            keyboard_arrow_right
        </mat-icon>
    </button>
</div>