<div fxLayout="row" class="slide-container" #container>
    {{items}}
    <div fxLayout="row" class="slider" #slider>
        <section *ngFor=" let item of [1,3,4,5,4]" class="">
            <div class="item">
                <app-product-small-card></app-product-small-card>
            </div>
        </section>
    </div>

    <button mat-button class="btn-prev" (click)="prev(slider)">
        <mat-icon>
            keyboard_arrow_left
        </mat-icon>
    </button>
    <button mat-button class="btn-next" (click)="next(slider)">
        <mat-icon>
            keyboard_arrow_right
        </mat-icon>
    </button>
</div>