<div class="slide-container" #container>

    <div class="slider" #slider>
        <section class="">
            <div class="item">
                <mat-card style="background-color: green;">
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
        <section class="">
            <div class="item" style="background-color: blue;">
                <mat-card>
                    <mat-card-title>we are here</mat-card-title>
                </mat-card>
            </div>
        </section>
    </div>

    <button mat-button class="btn-prev" (click)="prev(slider)">
        <mat-icon>
            keyboard_arrow_left
        </mat-icon>
    </button>
    <button mat-button class="btn-next" (click)="next(slider)">
        <mat-icon>
            keyboard_arrow_right
        </mat-icon>
    </button>
</div>