* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* reset */
}

.mat-brand {
  color: black;
  background-color: white;
  border-radius: 0;
  font-size: 13px;
  font-weight: 300;
  height: 35px;
}
.div {
  display: inline-block;
}

.hr * {
  display: block;
  text-align: center;
}

.master * {
  width: 100%;
}
