* {
  margin: 0; padding: 0; box-sizing: border-box; /* reset */
}

.div {
  display: inline-block;
}

.hr * {
  display: inline-block;
  text-align: center;
  width: 100%;

}

button {
  width: 20%;
}
