* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* reset */
}

.mat-brand {
  color: black;
  background-color: white;
  // width: 164px;
}

.div {
  display: inline-block;
}

.hr * {
  display: block;
  text-align: center;
  // width: 140%;
  // width: 165px;
}

.master * {
  width: 100%;
}
