<div class="background-main">
    <div class="site-container">
        <div class="my-account">
            <h2>My Account</h2>
            <div fxLayout="row wrap" fxLayoutAlign="start start">
                <mat-card class="card" fxFlex="32%">
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <h3>Orders</h3>
                            <mat-icon>
                                shopping_cart
                            </mat-icon>
                        </div>
                        <ul>
                            <li><a href="#">Orders</a></li>
                            <li><a href="#">Invoices</a></li>
                            <li><a href="#">Exchanges & Returns</a></li>
                            <li><a href="#">My Product Reviews</a></li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                <mat-card class="card" fxFlex="32%">
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <h3>Payment & credit</h3>
                            <mat-icon>
                                credit_card
                            </mat-icon>
                        </div>
                        <ul>
                            <li><a href="#">My Credit</a></li>
                            <li><a href="#">Redeem Gift Voucher</a></li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                <mat-card class="card" fxFlex="32%">
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <h3>Digital Library</h3>
                            <mat-icon>
                                insert_drive_file
                            </mat-icon>
                        </div>
                        <ul>
                            <li><a href="#">eBook Digital Library</a></li>
                            <li><a href="#">eBook Support</a></li>
                        </ul>

                    </mat-card-content>
                </mat-card>
                <mat-card class="card" fxFlex="32%">
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <h3>Customer Information</h3>
                            <mat-icon>
                                account_circle
                            </mat-icon>
                        </div>
                        <ul>
                            <li><a href="#">Personal Details</a></li>
                            <li><a href="#">Address Book</a></li>
                            <li><a href="#">Newsletter Subscriptions</a></li>
                        </ul>
                    </mat-card-content>
                </mat-card>
                <mat-card class="card" fxFlex="32%">
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                            <h3>My Lists</h3>
                            <mat-icon>
                                favorite
                            </mat-icon>
                        </div>
                        <ul>
                            <li><a href="#">My Lists</a></li>
                            <li><a href="#">Create a List</a></li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>