
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="false"
    interval="5000"
    color="accent"
    maxWidth="80%"
    proportion="80"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let product of slides; let i = index;"
      overlayColor="#00000040"
      [hideOverlay]="true">

      <img src="{{product.src}}" alt="Image">
      <div class=" .md-display-3 centered">Category is love</div>

    </mat-carousel-slide>
  </mat-carousel>

  <h2>FEATURED BRANDS</h2>

  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="false"
    interval="5000"
    color="accent"
    maxWidth="50%"
    proportion="50"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let product of brands; let first = first; let last = last; let i = index; "
      [ngClass]="{ first: 0, last: last }"
      [(ngModel)] ='next'
      overlayColor="#00000040"
      [hideOverlay]="true">
      <img src="{{brands[next].src}}" alt="Image">
      <img src="{{product.src}}" alt="Image">
      <img src="{{brands[1].src}}" alt="Image">
    </mat-carousel-slide>

  </mat-carousel>
















