::ng-deep mat-form-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  // margin: 20px;
  align-content: center;
  margin-right: 20%;
  margin-left: 20%;
}

::ng-deep mat-carousel {
  align-content: center;
  margin-right: 20%;
  margin-left: 20%;
}

/*
:host {
  border: 2px solid dimgray;
  display: block;
  padding: 20px;
}
 */
