$grayColor: #f4f4f4;
$borderColor: 1px solid $grayColor;

.product-detail {
  background-color: $grayColor;
  padding-top: 20px;
  padding-bottom: 20px;

  mat-card.detail-card {
    border-radius: 0;
    border: $borderColor;
    .thumb-nail {
      height: 90px;
      width: 90px;
      cursor: pointer;
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }
    .product-pic {
      min-height: 400px;
      width: 390px;
      img {
        height: 400px;
        width: 400px;
        object-fit: contain;
      }
    }
    .description {
      padding-top: 20px;
    }
    .rating {
      color: orange;
    }

    .picture {
      position: relative;
      .promotion-tag {
        z-index: 1;
        margin: 5px;
        padding-top: 5px;
        position: absolute;
        width: 25px;
        font-size: 13px;
        height: 25px;
        font-weight: 600;
        color: white;
        background-color: #0b79bf;
      }
    }
  }
  .card-add-to-cart {
    border: $borderColor;
    margin-left: 10px;
  }
}
.like-product {
  margin-top: 20px;
}
