<div class="carousel">
    <div class="carousel-items" [style.width]="bannerSlide.getInnerBannerWidth"
        [style.transform]="bannerSlide.transform" #CarouselItem>
        <section (click)="go(item.url)" [style]="bannerSlide.getItemWidth" *ngFor="let item of bannerSlide.items"
            class="carousel-item" fxLayout="row">
            <img [src]="item.imageLink" alt="">
        </section>
    </div><button mat-button class="btn-prev" (click)="prev()">
        <mat-icon>
            keyboard_arrow_left
        </mat-icon>
    </button>
    <button mat-button class="btn-next" (click)="next()">
        <mat-icon>
            keyboard_arrow_right
        </mat-icon>
    </button>
</div>