<div class="carousel">
    <div class="carousel-items" [style.width]="_banner.getInnerBannerWidth" [style.transform]="_banner.transform"
        #CarouselItem>
        <section (click)="go(item.url)" [style]="_banner.getItemWidth" *ngFor="let item of bannerSlide"
            class="carousel-item" fxLayout="row">
            <img [src]="item.imageLink" alt="">
        </section>
    </div><button mat-button class="btn-prev" (click)="prev()">
        <mat-icon>
            keyboard_arrow_left
        </mat-icon>
    </button>
    <button mat-button class="btn-next" (click)="next()">
        <mat-icon>
            keyboard_arrow_right
        </mat-icon>
    </button>
</div>