.div {
  padding-bottom: 5px;
}

::ng-deep mat-button-toggle.split-button-1 {
  background-color: black;
}

mat-button-toggle {
  color: white;
}

.mat-button-toggle-checked {
  color: white;
}

.flex-spacer {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
