

<div [ngStyle]="{'background-color':'#0b79bf'}">
  <ng-container>
    <mat-grid-list cols="11" rowHeight="4:1" [gutterSize]="'0px'">

      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">
        <app-nested-dropdown></app-nested-dropdown>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="6"
        [rowspan]="1">
        <app-search-bar></app-search-bar>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <app-compact-dropdown></app-compact-dropdown>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <i class="material-icons">search</i>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">

      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1">

      </mat-grid-tile>


      <mat-grid-tile
        [colspan]="8"
        [rowspan]="1">
        <app-offers></app-offers>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">

      </mat-grid-tile>
    </mat-grid-list>





  </ng-container>
</div>
