<div class="search-container" #searchBar [style]="getSearchBarHeight(searchBar)">
  <div class="site-container" style="z-index: -2;">
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <div class="side-bar" fxShow fxHide.lt-lg>
        <app-nested-dropdown style="z-index: 1;"></app-nested-dropdown>
      </div>
      <div class="search-bar" fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxLayout="column"
        fxLayoutAlign="space-around stretch">
        <app-search-bar></app-search-bar>
        <div>
          <app-offers></app-offers>
        </div>
      </div>
    </div>
  </div>
</div>