// @import "src/app/components/theme/main-theme/main-theme.component";

.carousel {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
  // height: 10px;
  // width: 250px;
  overflow: hidden;
  border-radius: 0.5em;
}

.product-card {
  max-width: 10%;
}

.carol {
  display: flex;
  // flex-direction: column;

  max-height: 200%;
  max-width: 200%;

  // padding-right: 2.3%;
  // padding-left: 2.3%;
}

.children {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  justify-content: space-between;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  // zoom effect on hover
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  // transform: scale(1.025);
  transform: scale(1.00);
  background-color: white;
}

// =========================
// Next and Prev buttons
// =========================
.control {
  border: none;
  // background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  // position: absolute;
  // position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding: 0.5em;
  padding: 1%;
  // padding-top: 0.5em;
  color: white;
  font-weight: bold;
  // font-size: 3em;
  font-size: 50%;
  user-select: none;
  // height: 100%;
  height: 50%;
  opacity: 40%;
  // opacity effect on hover
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  visibility: revert;
  background-color: #4d4d4f;
  // background-color: white;
  margin-top: 5%;


  &:hover, &:focus {
    opacity: 1;
    transform: scale(1.025);
    visibility: revert;
  }

  // * Position the buttons
  &.next {
    right: 0;
    // margin-right: 1%;
  }
  &.prev {
    left: 3px;
  }
}

// /* style the arrows
.arrow {
  color: black;
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;
  // width:  100%;
  // height: 100%;

  &.left {
    transform: rotate(45deg);
  }

  &.right {
    transform: rotate(225deg);
  }
}


mat-card:hover {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

mat-card {
  cursor: pointer;
}
