<div fxLayout="column" class="side-menu">
  <div fxLayout="column" (mouseover)="openMenuOnHover()" (mouseleave)="closeMenuOnHover()"
    fxLayoutAlign="start stretch">
    <div fxLayout="row" class="drop-btn" fxLayoutAlign="space-between center">
      <span>Shop by Department</span>
      <mat-icon>
        keyboard_arrow_down
      </mat-icon>
    </div>
    <div fxLayout="row" [fxShow]="openDropdown" (mouseover)="closeMenu=false" (mouseleave)="closeMenu=true">
      <div class="side-menu-items bordered-div">
        <ul>
          <li *ngFor="let shopBy of shopByDepartmentsList; let i=index" (mouseover)="getSubCategory(shopBy)">
            <div fxLayout="row" class="menu-item" fxLayoutAlign="space-between center">
              <span>{{ getLabel(shopBy.label)}}</span>
              <mat-icon>
                keyboard_arrow_right
              </mat-icon>
            </div>
          </li>
        </ul>
      </div>
      <div fxLayout="row" class="expand-menu" [fxHide]="closeMenu" fxLayoutAlign="space-evenly start">
        <div fxFlex="33%">
          <div class="side-menu-items">
            <h4>{{currentMenu}}</h4>
            <ul>
              <li *ngFor="let shopBy of subCategory">
                <div fxLayout="row" class="menu-item" fxLayoutAlign="space-between center">
                  <span>{{ getLabel(shopBy.label)}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="featured-shop" fxFlex="33%">
          <h4>Featured Shops</h4>

        </div>
        <div fxFlex="33%">
          <img width="200px" [src]="currentBannerImage" alt="">
        </div>
      </div>
    </div>
  </div>
</div>