.side-menu {
  z-index: 1;
  position: relative;
  width: 200px;
}
.bordered-div {
  border: solid 1px #f4f4f4;
}
.side-menu-items {
  height: 100%;
  background-color: white;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1px;
    margin-top: 5px;
  }
}
.menu-item {
  padding-left: 10px;

  cursor: pointer;
  &:hover {
    background-color: #0b79bf;
    color: white;
  }
}
.expand-menu {
  position: absolute;
  background: white;
  width: 600px;
  height: 100%;
  margin-left: 100%;
  box-shadow: 0 0 20px -15px;
  div {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
  }
}
.drop-btn {
  background-color: #4d4d4f;
  color: white;
  height: 35px;
  padding-left: 10px;
  cursor: pointer;
}
h4 {
  font-weight: bold;
  color: #0b79bf;
  margin-top: 20px;
  margin-left: 20px;
}
.featured-shop {
  background-color: #f4f4f4;
}
