::ng-deep mat-button-toggle.split-dropdown-1 {
  background-color: #e7e7e7;
}

mat-button-toggle {
  color: white;
  width: 80%;
  background-color: white;
}

/*
::ng-deep mat-button-toggle.split-search-1 {
  background-color: #4d4d4f;
  color: white;
  width: 25%;
}
 */
